$enable-flex:               true;
$enable-grid-classes:       true;

@import './bootstrap/scss/bootstrap';


// Mixin for media queries
@mixin mq($breakpoint) {

  $mq-xs: "(max-width: 767px)";
  $mq-sm: "(min-width: 768px) and (max-width: 991px)";
  $mq-md: "(min-width: 992px) and (max-width: 1199px)";
  $mq-lg: "(min-width: 1200px)";

  @if $breakpoint == xs {
    @media #{$mq-xs} { @content; }
  }
  @else if $breakpoint == sm {
    @media #{$mq-sm} { @content; }
  }
  @else if $breakpoint == md {
    @media #{$mq-md}  { @content; }
  }
  @else if $breakpoint == lg {
    @media #{$mq-lg}  { @content; }
  }
}

body {
	background: #000;
}
// Code for inertia/smooth scrolling on iOS
/*
.touchscroll {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position:relative;
	height:100%;
}
.touchscroll body { 
	height:100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position:relative;
}*/

// Navbar
.bg-inverse {
    color: #fff;
    background-color: rgba(0,0,0,0.6);
}

.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

// Others

.container {
	min-height: 100vh;
}

#first {			

background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 70%, rgba(0,0,0,0.6) 75%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(70%, rgba(255,255,255,1)), color-stop(75%, rgba(0,0,0,0.6)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 70%, rgba(0,0,0,0.6) 75%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 70%, rgba(0,0,0,0.6) 75%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 70%, rgba(0,0,0,0.6) 75%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 70%, rgba(0,0,0,0.6) 75%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}
#second {
	background: #000;
	color: #fff
}

// Hero Section

@mixin background-size($size) {
	-webkit-background-size: $size;
       -moz-background-size: $size;
         -o-background-size: $size;
            background-size: $size;
}

#hero {


	h1{
		text-transform: uppercase;
	    font-size: 15vw;
	    font-family: Helvetica;
	    padding: 30px;
	    text-align: center;
	    color: #fff;
	    width: 100%;
	    text-shadow: rgba(0, 159, 227, 0.0980392) 27.8px -10.625px, rgba(0, 159, 227, 0.2) 17.375px -7.08333px, rgba(0, 159, 227, 0.298039) -6.07143px 11.5833px;
		-webkit-transition: text-shadow 0.05s ease;
		-moz-transition: text-shadow 0.05s ease;
		-o-transition: text-shadow 0.05s ease;
		transition: text-shadow 0.05s ease;
	}

	video#bgvid {
	    position: absolute;
	    right: 0;
	    top: 0;
	    min-width: 100vw;
	    min-height: 130vh;
	    //width: auto;
	    z-index: -100;
	    transform: translateZ(0);
	    //height: auto;
	    @include background-size(cover);

	    @include mq(xs) {
	    	display: none;
	    }
	}

	h1{
		animation: animationFrames linear 1.8s;
		animation-iteration-count: infinite;
		transform-origin: 50% 50%;
		-webkit-animation: animationFrames linear 1.8s;
		-webkit-animation-iteration-count: infinite;
		-webkit-transform-origin: 50% 50%;
		-moz-animation: animationFrames linear 1.8s;
		-moz-animation-iteration-count: infinite;
		-moz-transform-origin: 50% 50%;
		-o-animation: animationFrames linear 1.8s;
		-o-animation-iteration-count: infinite;
		-o-transform-origin: 50% 50%;
		-ms-animation: animationFrames linear 1.8s;
		-ms-animation-iteration-count: infinite;
		-ms-transform-origin: 50% 50%;
	}

	@keyframes animationFrames{
	  0% {
	    transform:  translate(0px,0px)  ;
	  }
	  50% {
	    transform:  translate(0px,-10px)  ;
	  }
	}

	@-moz-keyframes animationFrames{
	  0% {
	    -moz-transform:  translate(0px,0px)  ;
	  }
	  50% {
	    -moz-transform:  translate(0px,-10px)  ;
	  }
	}

	@-webkit-keyframes animationFrames {
	  0% {
	    -webkit-transform:  translate(0px,0px)  ;
	  }
	  50% {
	    -webkit-transform:  translate(0px,-10px)  ;
	  }
	}

	@-o-keyframes animationFrames {
	  0% {
	    -o-transform:  translate(0px,0px)  ;
	  }
	  50% {
	    -o-transform:  translate(0px,-10px)  ;
	  }

	  10% {
	    -o-transform:  translate(0px,0px)  ;
	  }
	}

	@-ms-keyframes animationFrames {
	  0% {
	    -ms-transform:  translate(0px,0px)  ;
	  }
	  100% {
	    -ms-transform:  translate(0px,-10px)  ;
	  }
	}

	.container {
		position: relative;
	    padding-top: 30%;
	    padding-bottom: 30%;
	    vertical-align: middle;
	    padding-top: 25vh;
	    height: 130vh;
	    min-height: 130vh;
	    max-width: 100vw;

	    @include mq(xs) {
	    	background: url(http://zippy.gfycat.com/WillingIndelibleDunlin.gif) no-repeat center center;
			@include background-size(cover);
	    }
	}

	.division {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    height: 30vh;
        width: 100vw;
		background: rgba(255,255,255,0.1);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 53%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,0.1)), color-stop(53%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 53%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 53%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 53%);
background: linear-gradient(175deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 53%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	}

	.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 40vh;
	}

	.arrows path {
		stroke: #2994D1;
		fill: transparent;
		stroke-width: 3px;	
		animation: arrow 2s infinite;
		-webkit-animation: arrow 2s infinite; 
	}

	@keyframes arrow
	{
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
	}

	@-webkit-keyframes arrow /*Safari and Chrome*/
	{
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
	}

	.arrows path.a1 {
		animation-delay:-1s;
		-webkit-animation-delay:-1s; /* Safari 和 Chrome */
	}

	.arrows path.a2 {
		animation-delay:-0.5s;
		-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
	}

	.arrows path.a3 {	
		animation-delay:0s;
		-webkit-animation-delay:0s; /* Safari 和 Chrome */
	}
}

#first {

	overflow: hidden;

	video#bgvid {
	    position: absolute;
	    right: 0;
	    top: 130vh;
	    min-width: 100vw;
	    min-height: 80vh;
	    //width: auto;
	    z-index: -100;
	    //height: auto;
	    @include background-size(cover);

	    @include mq(xs) {
	    	display: none;
	    }
	}



	.container {
		min-height: 40vh;
	}

	.text {

		p {
		  display: inline-block;
		    vertical-align: top;
		    margin: 0;
		    font-size: 8vw;
		    margin-right: 0.25em;
		}

		.word {
		  position: absolute;
	      width: 50vw;
		  opacity: 0;
		}

		.letter {
		  display: inline-block;
		  position: relative;
		  float: left;
		  transform: translateZ(25px);
		  transform-origin: 50% 50% 25px;
		}

		.letter.out {
		  transform: rotateX(90deg);
		  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}

		.letter.behind {
		  transform: rotateX(-90deg);
		}

		.letter.in {
		  transform: rotateX(0deg);
		  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}

		.wisteria {
		  color: #8e44ad;
		}

		.belize {
		  color: #2980b9;
		}

		.pomegranate {
		  color: #c0392b;
		}

		.green {
		  color: #16a085;
		}

		.midnight {
		  color: #2c3e50;
		}
	}

	.sub-text {
		font-size: 2rem;
	}
}


.se-container{
	display: block;
	width: 100%;
	overflow: hidden;
	padding-top: 150px;
}
.se-slope{
	margin: 0 -50px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
}

.se-slope{
	background: #e90089;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	box-shadow: 0px 2px 3px rgba(0,0,0,0.4) inset;
}

.se-content{
	margin: 0 auto;
	height: 200px;
}

.se-content h3{
	font-size: 60px;
	position: relative;
	display: inline-block;
	padding: 10px 30px 8px 30px;
	height: 80px;
	background: #000;
	line-height: 80px;
	margin-bottom: 20px;
	font-family: 'Bitter', 'Trebuchet MS', Arial;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}
.se-content h3:before{
	content: '';
	width: 0;
	height: 0;
	border-top: 38px solid transparent;
	border-bottom: 60px solid transparent;
	border-right: 60px solid black;
	position: absolute;
	left: -59px;
	top: 0px;
}
.se-content h3:after{
	content: '';
	width: 0;
	height: 0;
	border-top: 38px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid black;
	position: absolute;
	right: -59px;
	top: 0px;
}
.se-content p{
	width: 75%;
	max-width: 500px;
	margin: 0 auto;
	font-style: italic;
	font-size: 18px;
	line-height: 24px;
	padding-top: 10px;
}
.se-content p:first-letter{
	font-size: 40px;
	font-family: 'Adobe Garamond Pro', Garamond, Palatino, 'Palatino Linotype', Times, 'Times New Roman', Georgia, serif;
}

.se-slope:nth-child .se-content{
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	color: #000;
	padding: 150px 100px 250px 100px;
}
.se-slope:nth-child .se-content h3{
	background: #000;
	color: #e90089;
}

/* Media Queries */
@media screen and (max-width: 1010px){
	.se-content h3{
		font-size: 40px;
	}
}
@media screen and (max-width: 767px) {
	.se-content h3{
		font-size: 20px;
	}
}
@media screen and (max-width: 400px) {
	.se-content h3{
		font-size: 20px;
		line-height: 20px;
		padding-top: 30px;
		height: 60px;
	}
	.se-content p{
		width: 95%;
	}
	.se-slope:nth-child .se-content{
		padding-left:60px;
		padding-right:60px;
		
	}
}

#second {
	/*
	 * Animation module with all animation code
	 */
	.anim-text-flow,
	.anim-text-flow-hover:hover {
	  /*
	   * Animation variables
	   */
	  $animationSteps: 20;
	  $animationDuration: 50;
	  $animationElement: span;
	  $animationElementsCount: 100;
	  $delayBetweenLetters: 0.2;

	  /*
	   * Elements settings
	   */
	  #{$animationElement} {
	    animation-name: anim-text-flow-keys;
	    animation-duration: #{$animationDuration}s;
	    animation-iteration-count: infinite;
	    animation-direction: alternate;
	    animation-fill-mode: forwards;
	  }

	  /*
	   * Keyframe loop
	   */
	  @keyframes anim-text-flow-keys {
	    @for $i from 0 through $animationSteps {
	      #{percentage($i * (1 / $animationSteps))} {
	        color: hsla(random(365), 60, 60, 1);
	      }
	    }
	  }

	  /*
	   * Element animation delay loop
	   */
	  $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

	  @for $i from 1 through $animationElementsCount {
	    #{$animationElement}:nth-of-type(#{$i}) {
	      animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
	    }
	  }
	}

	.txt {
		display: block;
		text-align: center;
		font-size: 9vw;	
	}
}